# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=service-role-key
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=http://localhost:3000

# 開発時は空でもかまいません
NEXT_PUBLIC_SENTRY_DSN=your-project-dsn
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development

# 以下の設定はクラウドでホストされている本番・STG環境でのみ利用される
# 正しい値ではないので注意
SMTP_HOST=smtp.mailgun.org
SMTP_USER=example@mailgun.org
SMTP_PASS=password
SMTP_ADMIN_EMAIL=noreply@example.com
SMTP_SENDER_NAME=test_sender
